<mat-card class="card" *ngFor="let user of users">
    <div class="items">
        <div class="info">            
            <mat-icon>person</mat-icon>
            <div class="nome">
                <p>{{ user.nome }}</p>
            </div>
            <div class="email">
                <p>{{ user.email }}</p>
            </div>
        </div>
        <div class="edit">
            <button mat-icon-button class="btn" (click)="openDialog(user.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btn" (click)="deleteUser(user.id)">
                <mat-icon class="btn-delete" >delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
