<mat-card class="card">
    <div class="items">
        <div class="info">            
            <mat-icon>person</mat-icon>
            <p>Ale Costa</p>
            <p>alexandre@attornatus.com.br</p>
        </div>
        <div class="edit">
            <button mat-icon-button class="btn" (click)="openDialog()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btn">
                <mat-icon class="btn-delete">delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>



