.card{
    height: 50px;
    padding: 0;
    margin: 15px 0;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    padding: 0 5px;
}

.nome{
    width: 45%;
    text-align: center;
}

.email{
    width: 45%;
    text-align: center;
}

.edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 05%;
    margin-right: 50px;
}

.btn{
    border: none;
    background: none;
}

.btn-delete{
    color: red;
}


